$sx-width: 80%
$dx-width: 100% - $sx-width

body
  &.assets, &.asset_categories
    .filters
      box-shadow: 0 0 0
      padding: 10px
      .filters-title
        margin-bottom: 15px
        font:
          size: 14px
          weight: bold
      form
        label
          font-size: 13px
        input[type=text]
          width: 100%
          padding-left: 0
          padding-right: 0
        select
          width: 100%
    &.show
      table
        thead
          tr
            th
              background: #e5e5e5
              color: #333
        tbody
          tr
            td
              &:first-child
                width: 20%
                font-style: italic


body.assets
  &.index
    .nav-pills
      margin-bottom: 10px
  &.select
    padding: 0
    .sx
      $sx-internal-width: 95%
      float: left
      width: $sx-width
      .search
        z-index: 10
        position: fixed
        width: $sx-width
        background: white
        .top
          width: $sx-internal-width
          .well
            margin-bottom: 0
            form
              margin: 0
              select
                width: 100%
              .chzn-container
                width: 100% !important
              &.loading
                background: url(/assets/loader.gif) no-repeat right center
      .collection
        padding-top: 107px
        #quick_upload
          width: $sx-internal-width
          margin-bottom: 12px
        .resources.assets
          min-height: 200px
      #infscr-loading
        clear: both
        padding: 1em 0
        width: $sx-internal-width
        text-align: center
    .dx
      float: right
      width: $dx-width
      .associations
        position: fixed
        top: 0
        bottom: 0
        width: $dx-width
        .assets-container-drag
          border: 1px dotted #ccc
          padding: 10px
          margin-bottom: 1em
          height: 80%
        #sortable2
          height: 100%
          overflow: auto
  .form-horizontal
    #asset_instances
      .control-group
        margin-bottom: 0
      .item
        margin: 2px 0 20px 180px
        .resource.asset-instance
          table
            margin-bottom: 0
            td
              .controls
                margin-left: 0
