body
  padding-top: 60px
  padding-bottom: 40px
.sidebar-nav
  padding: 9px 0
form
  .control-group
    &.error
      .help-inline
        margin-left: 180px
    .controls
      textarea
        height: 100px

