- unless asset.nil?
  .resource.asset.draggable{ data: { id: asset.id } }
    .thumbnail
      .caption
        %h5= "#{asset.title} (#{asset.asset_category_id})"
        .details
          = render partial: 'asset_manager/asset_instances/asset_instances', locals: { collection: asset.asset_instances }
